#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  text-align: justify;
  align-items: center;
  max-width: 600px;
}

b {
  font-weight: 600;
}
a {
  text-decoration: none;
}
.text {
  display: flex;
  flex-direction: column;
}
.imgContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  /* background-image: linear-gradient(to right, #242424, transparent, #242424); */
  gap: 9px;
}
.imgLilo {
  width: 20%;
  border-radius: 5px;
  z-index: -1;
};

.imgBlock {
  z-index: 1;
  width: 80%;
  position: relative;
};
.QRCodeGroup {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.qrcode{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
@media(max-width: 890px) { 

}